{% extends "base.html" %}

<!-- {% block title %}Reset your password{% endblock %}

{% block content %}
    <h1>Reset your password</h1>
    <p>We've emailed you instructions for setting your password.</p>
    <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
{% endblock %} -->

% load static %}
{% block content %}
<br />
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">
            <b
              >An email has been sent with instructions to reset your
              password.</b
            >
          </h5>
          <form class="form-signin">
            <div class="form-group">
              <a
                class="btn btn-lg btn-warning btn-block text-uppercase"
                href="https://mail.google.com/mail/u/0/"
                >Open Gmail</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} 